*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start{
    background-color:rgb(9, 51, 58) ;
    height: 100px;
    color: #fff;
}

.general{
    height: auto;
    background-color: rgb(88, 185, 104);
    color: #fff;
}

.bg-white{
    background-color: #fff;
}
.bg-blu{
    background-color: rgb(26, 26, 58);
}

.mg-50{
    margin: 50px 0;
}

.bg-pink{
    background-color: pink;
    height: 300px;
    margin: 50px 0;
}

.line{
    height: 2px;
    width: 50px;
    border-radius: 1px;
}

/*BOX*/

.box{
    height: 200px;
    background-color: coral;
    border-radius: 5px;
}

/*CONTAINER 3*/


